#!/bin/sh

DEFAULTMAJORMINOR="3.6"
DEFAULTVERNUM="3.6.2"
DEFAULTPATCHLEVEL=
LIBDIR="${DEFAULTVERNUM}${DEFAULTPATCHLEVEL}"
DEFAULTOPENSSL="$HOME/SoftwareDev/external/openssl/openssl-${LIBDIR}"
DEFAULTHDRDIR="${DEFAULTOPENSSL}/include/openssl"
DEFAULTOUTPUTROOT=../headers
VERHDR=opensslv.h
H2PAS=h2pasng
ROOTDIR=`dirname $0`
H2PASCONFIG="${ROOTDIR}/data/${DEFAULTMAJORMINOR}/h2pasoptions.cfg"
IGNOREINCLUDEFILES="spthread winsock2 sys\/endian libkern\/OSByteOrder"
IGNOREHEADERS=asn1_mac.h
OTHERFILES="${ROOTDIR}/data/OtherFiles"
CPATCHDIR="${ROOTDIR}/data/${DEFAULTMAJORMINOR}/patches/${LIBDIR}"
PPATCHDIR="${CPATCHDIR}"
CONFIGDIR="${ROOTDIR}/data"



